/* Global rules */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Ubuntu+Condensed&display=swap');

html {
    background-color: #307687;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
}

::selection {
    color: #000; 
    background: #FFE8D6;
}

h1 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: normal;
    margin: auto;
    background: #A2BFB5; 
    line-height: 2.5em;
}

main.wrapper {
    background-color: #FCF8EE;
    overflow: auto;
}

p {
    margin: 1em; /* Top Right Bottom Left (TRBL) */
}

h2,h3 {
    font-weight: normal;
    margin-left: 1em;
    line-height: 1em;
}

a {
    color: lightgray;
    text-decoration: none;
}

a:hover {
    color: #F6FFF8 ;
    background-color: lightgray;
    text-decoration: none;
}

footer {
    clear: both;
    text-align: center;
    padding: 1em;
}

/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {
    main.wrapper {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        width: 79%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: left;
        margin-right: 2em;
    }
    
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    main.wrapper {
        width: 90%;
        margin: auto;
    }
    
    h1 {
        width: 89%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: right;
        margin-left: 1em;
    }

}

/* PHONE */
@media all and (max-width:500px) {
    main.wrapper {
        width: 100%;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 100%;
    }
    
}